<div class="container">
<h1><img src="images/logo.png">GIS4Graph</h1>

<form  enctype="multipart/form-data" action="/uploader" method="POST">
	<div class="form-group">
		<label for="dbf">DBF</label>
		<input class="form-control" id="dbf" name="dbf" type="file" />
		<Br>
	</div>
	<div class="form-group">
		<label for="dbf">PRJ</label>
		<input class="form-control" id="prj" name="prj" type="file" />
		<Br>
	</div>
	<div class="form-group">
		<label for="dbf">SHP</label>
		<input class="form-control" id="shp" name="shp" type="file" />
		<Br>
	</div>
	<div class="form-group">
		<label for="dbf">SHX</label>
		<input class="form-control" id="shx" name="shx" type="file" />
		<Br>
	</div>
	<div class="form-group">
		<input class="btn btn-success" type="submit" value="OK">
	</div>
</form>
</div>