<div class="container">
<h1><img src="images/logo.png">GIS4Graph</h1>
<div ng-show='msg' class="alert alert-danger">
	{{msg}}	
</div>

<button  ng-class="show=='shp' ? 'btn btn-danger' : 'btn'" ng-click="setShow('shp')">Shapefile</button>
<button  ng-class="show=='osm' ? 'btn btn-danger' : 'btn'" ng-click="setShow('osm')">OSM</button>
<form ng-show="show=='osm'"  enctype="multipart/form-data" action="/uploaderOSM" method="POST">
	<div class="form-group">
		<label for="osm">OSM</label>
		<input class="form-control" id="osm" name="osm" type="file" />
		<Br>
	</div>
	<br>
	Please, choose the graph metrics to be calculated:
	<div class="form-group">
		<input  type="checkbox" value="S" name="G"> Degree<br>
		<input  type="checkbox" value="S" name="CA"> Clustering Coefficient<br>
		<input  type="checkbox" value="S" name="MC"> Shortest Path<br>
		<input  type="checkbox" value="S" name="B"> Betweeness<br>
		<input  type="checkbox" value="S" name="C"> Closeness<br>
		<input  type="checkbox" value="S" name="ST" disabled="disabled"> Straightness Centrality<br>
		<input  type="checkbox" value="S" name="VU" disabled="disabled"> Vulnerability<br>
		<input type="hidden" value="N" name="SH"> Strahler
		<input type="hidden" value='0' name="stream_field"> Stream Field 
		<input type="hidden" value='0' name="basin_mouth"> Basin Mouth<br>
		
	</div>
	<BR>
	<div class="form-group">
		<input class="btn btn-success" type="submit" value="OK">
	</div>
</form>

<form ng-show="show=='shp'"  enctype="multipart/form-data" action="/uploader" method="POST">
	<div class="form-group">
		<label for="dbf">DBF</label>
		<input class="form-control" id="dbf" name="dbf" type="file" />
		<Br>
	</div>
	<div class="form-group">
		<label for="dbf">PRJ</label>
		<input class="form-control" id="prj" name="prj" type="file" />
		<Br>
	</div>
	<div class="form-group">
		<label for="dbf">SHP</label>
		<input class="form-control" id="shp" name="shp" type="file" />
		<Br>
	</div>
	<div class="form-group">
		<label for="dbf">SHX</label>
		<input class="form-control" id="shx" name="shx" type="file" />
		<Br>
	</div>
	Please, choose the graph metrics to be calculated:
	<div class="form-group">
		<input  type="checkbox" value="S" name="G"> Degree<br>
		<input  type="checkbox" value="S" name="CA"> Clustering Coefficient<br>
		<input  type="checkbox" value="S" name="MC"> Shortest Path<br>
		<input  type="checkbox" value="S" name="B"> Betweeness<br>
		<input  type="checkbox" value="S" name="C"> Closeness<br>
		<input  type="checkbox" value="S" name="SH"> Strahler 
			<input type="text" name="stream_field"> Stream Field 
			<input type="number" name="basin_mouth"> Basin Mouth<br>
		<input  type="checkbox" value="S" name="ST" disabled="disabled"> Straightness Centrality<br>
		<input  type="checkbox" value="S" name="VU" disabled="disabled"> Vulnerability<br>
	</div>
	<div class="form-group">
		<input class="btn btn-success" type="submit" value="OK">
	</div>
	
</form>

<hr>
<a href="#/map/exemplo">Example</a>
</div>