<div>
	<div class="labelPosition"><b>GIS4Graph</b> | <label id="mouse-position"></label></div>
	<div class="labelCarregando" ng-show="labels.carregando">Loading</div>
	<div class="labelLegenda"  ng-show="labels.legenda">
		<select style="max-width: 5em;" ng-model="currentLegenda" ng-options="g.label for g in g4g">
			<option value = "">Choose...</option>
		</select>
		<table>
			<tr ng-repeat="c in cores">
				<td style="background: {{c.color}}">&nbsp;&nbsp;</td>
				<td ><b>{{c.from|number}}</b></td><td>to</td><td><b>{{c.to|number}}</b></td>
			</tr>
		</table>
	</div>
	
	<div class="g4g-info">
		<div style="text-align:right; width: 100%" ><span ng-show="info.show"> Network Information</span>
		<button  title="Network Information"  class="gBtn" ng-click="info.showInfo()" >i</button></div>
		<div ng-show="info.show">
			<table class="table">
				<tr><td>Average Clust. Coeff.</td><td>{{info.net.coef_aglom_medio}}</td></tr>
				<tr><td>Length</td><td>{{info.net.comprimento}}</td></tr>
				<tr><td>Density</td><td>{{info.net.densidade}}</td></tr>
				<tr><td>Diameter</td><td>{{info.net.diametro}}</td></tr>
				<tr><td>Average Degree</td><td>{{info.net.grau_medio}}</td></tr>
				<tr><td>Order</td><td>{{info.net.ordem}}</td></tr>
				<tr><td>Average Straitness</td><td>{{info.net.strt_medio}}</td></tr>
			</table>
		</div>
	</div>

	<div class="g4g-filter">
			<div style="text-align:right; width: 100%" ><span ng-show="filter.show"> Filter</span>
			<button  title="Filter"  class="gBtn"  ng-click="filter.showFilter()" >F</button></div>
			
			
			<div ng-show="filter.show">
			<table class="table">
				<tr ng-repeat="g in g4g">
					<td>{{g.label}}</td>
					<td><input type="number" style="width: 100px" ng-model="limites[g.data].min"></td>
					<td><input type="number" style="width: 100px" ng-model="limites[g.data].max"></td>
				</tr>
			</table>
			<center>
			<button class="btn" ng-click="filter.filtrar()">Apply Filter</button>
			<button class="btn" ng-click="filter.original()">Remove Filter</button>
			</center>
		</div>
	</div>

	<div class="g4g-grafo">
		<div style="text-align:right; width: 100%" ><span ng-show="grafo.show"> Graph</span>
			<button title="Graph" class="gBtn" ng-click="grafo.showOptions()" >G</button>
		</div>
		
		
		<div ng-show="grafo.show" style="max-width: 250px; text-align: center">
			<button ng-repeat="g in g4g" class="btn" style="margin: 5px;"
				ng-click="grafo.showGrafo(g.data)">{{g.label}}
			</button>
		</div>		
	</div>

	<div class="g4g-tabela">
		<button  title="Tabela"  class="gBtn" ng-click="tabela.showTabela()" >T</button>
	</div>

	<div id="map" class="map"></div>
	<div id="popup" class="ol-popup">
		<a href="#" id="popup-closer" class="ol-popup-closer"></a>
		<div id="popup-content"></div>
	</div>
</div>
