[DB]
host = localhost
user = postgres
pasw = ''
name = g4g
port = 5432

[FILE]
# Spatial Reference System of the Input Shapefile
srid = 4326
# Shapefile field that contains the geometry name (for graph labels)
nameField = name

[OPTION]
degree_enabled = S
clustcoeff_enabled = S
shortpath_enabled = S
betweeness_enabled = S
closeness_enabled = S
straight_enabled = N
vulnerab_enabled = S
strahler_enabled = N

[STRAHLER]
stream_field =
basin_mouth =
